    @import url('../css/font.css');

html, body{
    margin: 0%;
    box-sizing:border-box;
    overflow-x: hidden;    
}

:root{

    /*     Theme Colors    */
    --text-gray: #adb5bd;
    --text-icegray: #e9ecef;
    --text-whitegray:#f8f9fa;
    --text-slightgray: #f8f9fa;
    --text-charcoalgray: #6c757d;
    --text-lightBeige: #f5ebe0;
    



    /* gradient color */
    --cloudsky: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --rosegold: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    --aboveSky: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

    /*    theme font-family   */
    --TitilliumWeb-SemiBold: 'TitilliumWeb-SemiBold';
    --TitilliumWeb-Regular: 'TitilliumWeb-Regular';
    --TitilliumWeb-Light-Italics: 'TitilliumWeb-Light-Italics', cursive;
    --TitilliumWeb-Light: 'TitilliumWeb-Light';
    --Sunflower-Light: 'Sunflower-Light';

}

/*----------Global Classes--------------*/

a{
    text-decoration: none;
    color:black;
    }

.flex-row{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   }

ul{
    list-style-type: none;
}

h1{
    font-family:var(--TitilliumWeb-Light-Italics);
    font-size: 2.5rem;
}

H2{
    font-family:var(--TitilliumWeb-Regular);
}

h3{
    font-family:var(--TitilliumWeb-Light-Italics);
    font-size: 1.3rem;

}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1 rem;
    font-family: var(--TitilliumWeb-Light);
    cursor: pointer;
}

span{
    font-family: var(--TitilliumWeb-Light);
}

.container{
    margin: 0 5vw;
}


p{
    font-family: var(--TitilliumWeb-Light);
    color: black;
}

/*-------x---Global Classes----x----------*/


/*----------------navbar---------------*/
.nav{
    background-color:white;
    padding: 0 2rem;
    height: 0rem;
    min-height:12vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}




.nav .nav-menu{
    justify-content: space-between;
    display: flex;
    flex-direction:row;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 60%;
    cursor: pointer;
    display:none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
        
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.2rem;
    color: var(--text-lightBeige)
}


.collapse{
    height: 30rem;
}


.nav .nav-items{
    list-style-type: none;
    display:flex;
    margin:0;  
     
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position:relative;
    font-family: var(--TitilliumWeb-Light);
    font-size: 1.1rem;
    
}

.nav .nav-items .nav-link:hover{
    background-color:var(--text-lightBeige);


}

.nav .nav-items .nav-link:hover a{
    color:black;

}

.nav .nav-brand a{

        font-size: 1.3rem;
        padding: 1rem 0;  
        display:block;
        font-family: var(--TitilliumWeb-SemiBold);
        font-size:1.4rem;


}

.nav .social{
    padding: 1.4rem0;
    font-family: var(--TitilliumWeb-Light);
    font-size: 0.8rem;
}

.nav .social a{
    padding: 0.3rem;

}

.nav .social:hover a{
    color:var(--text-gray);

}
    

/*---------x-------navbar---------x------*/




/* -----------Main Content-----------------*/

/* -----------Site Title-----------------*/

main .site-title{
    background: url('../Assets/Cover04-01.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;

}

main .site-title .site-background{
    padding-top: 20rem;
    text-align: center;
    Color: var(--text-lightBeige)
}

main .site-title h1,h3{
    margin: .3rem;

}

main .site-title .btn{
    margin: 1.8rem;
    background:var(--rosegold);
    color: black;
}


main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--text-lightBeige);
    color: black;

}
    

/* -------x----Site Title------x-----------*/

/* ----------Blog Carousel-----------------*/

main .blog{
    background: ;
    background-repeat: no-repeat ;
    background-position: right;
    height: 1vh;
    width: 100%;
}

main .blog .blog-post{
    padding-top: 6rem;    
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--rosegold);
    margin: .5rem;
}
main .blog-content span{
    display: block;
}

/* -----x-----Blog Carousel-------x----------*/

/* ----------Site Contene-----------------*/

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;

}

/* -----x-----Site Contene-------x----------*/

/* -----x------Main Content--------x---------*/

/*         Viewport less than or equal to 1130px      */

@media only screen and (max-width: 1130px) {
    


}


/*    x     Viewport less than or equal to 1130px   x   */


/*         Viewport less than or equal to 750px      */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    } 
    
    .nav .toggle-collapse{
        display: initial;
    }
}

/*      x   Viewport less than or equal to 750px    x  */



/*         Viewport less than or equal to 520px      */
@media only screen and (max-width:520px) {
    main .blog{
        height: 125vh;
    }
}

nav .toggle-collapse{
    width: 80% !important;
}

/*    x     Viewport less than or equal to 520px  x    */