    @import url('../css/font.css');

html, body{
    margin: 0%;
    box-sizing:border-box;
    overflow-x: hidden;    
}

:root{

    /*     Theme Colors    */
    --text-gray: #adb5bd;
    --text-icegray: #e9ecef;
    --text-whitegray:#f8f9fa;
    --text-slightgray: #f8f9fa;
    --text-charcoalgray: #6c757d;
    --text-lightBeige: #f5ebe0;
    



    /* gradient color */
    --cloudsky: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --rosegold: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    --aboveSky: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

    /*    theme font-family   */
    --TitilliumWeb-SemiBold: 'TitilliumWeb-SemiBold';
    --TitilliumWeb-Regular: 'TitilliumWeb-Regular';
    --TitilliumWeb-Light-Italics: 'TitilliumWeb-Light-Italics', cursive;
    --TitilliumWeb-Light: 'TitilliumWeb-Light';
    --Sunflower-Light: 'Sunflower-Light';

}

/*----------Global Classes--------------*/

a{
    text-decoration: none;
    color:black;
    }

.flex-row{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   }

ul{
    list-style-type: none;
}

h1{
    font-family:var(--TitilliumWeb-Light-Italics);
    font-size: 3.5rem;
    text-shadow: 1.5px 1.5px black;
    
    
}

H2{
    font-family:var(--TitilliumWeb-Regular);
}

h3{
    font-family:var(--TitilliumWeb-Light-Italics);
    font-size: 2.3rem;
    text-shadow: 1px 1px black;

}

h4{
    font-family:var(--TitilliumWeb-Light-Italics);
    font-size: 3.5rem;
    margin: 1px;
    padding: 1px;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1 rem;
    font-family: var(--TitilliumWeb-Light);
    cursor: pointer;
}

span{
    font-family: var(--TitilliumWeb-Light);
}

.container{
    margin: 0 5vw;
}


p{
    font-family: var(--TitilliumWeb-Light);
    color: black;
}

h4{
    font-size: small;
    font-family: var(--TitilliumWeb-Light);
    margin: 3rem;
    padding-top: 10rem;
    text-align: center;
}

/*-------x---Global Classes----x----------*/


/*----------------navbar---------------*/
.nav{
    background-color:white;
    padding: 0 2rem;
    height: 0rem;
    min-height:10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav-brand{
    width: 12rem;   
}


.nav .nav-menu{
    justify-content: space-between;
    display: flex;
    flex-direction:row;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 60%;
    cursor: pointer;
    display:none;
    float: right;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: right;
    padding: 1.7rem 0;   
        
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.2rem;
    color: var(--text-lightBeige)
}


.collapse{
    height: 25rem;
}


.nav .nav-items{
    list-style-type: none;
    display:flex;
    margin:0;       
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position:relative;
    font-family: var(--TitilliumWeb-Light);
    font-size: 1.1rem;
    
}

.nav .nav-items .nav-link:hover{
    background-color:var(--text-lightBeige);


}

.nav .nav-items .nav-link:hover a{
    color:black;

}

.nav .nav-brand a{

        font-size: 1.3rem;
        padding: 1rem 0;  
        display:block;
        font-family: var(--TitilliumWeb-SemiBold);
        font-size:1.4rem;


}

.nav .social{
    padding: 1.4rem0;
    font-family: var(--TitilliumWeb-Light);
    font-size: 0.8rem;
}

.nav .social a{
    padding: 0.3rem;

}

.nav .social:hover a{
    color:var(--text-gray);

}
    

/*---------x-------navbar---------x------*/




/* -----------Main Content-----------------*/

/* -----------Site Title-----------------*/

main .site-title{
    background: url('../Assets/Cover07-02.jpg');
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: center;
    height:800px;
    display: flex;
    justify-content: center;

}

main .site-title .site-background{
    padding-top: 0rem;
    text-align: center;
    Color: var(--text-lightBeige);
    height: 30vh;
    margin-top: 32vh ;
    width: 30vh;
    margin-left: 14vh;
}

main .site-title h1,h3{
    margin: .3rem;
    text-align: center;
}



main .site-title .btn{
    margin: 1.8rem;
    background:var(--rosegold);
    color: black;
}


main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--text-lightBeige);
}


main .site-title .btn:hover a{
    color: white;
}

main .site-content{
    background-color: ;
    width: 100%;
    display: block;
    
}
    

/* -------x----Site Title------x-----------*/

/* ----------Blog Carousel-----------------*/

main .blog{
    background: ;
    background-repeat: no-repeat;
    background-position: right;
    height: 1vh;
    width: 100%;
}

main .blog .blog-post{
    padding-top: 6rem;    
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center; 
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--rosegold);
    margin: .5rem;
}
main .blog-content span{
    display: block;
}

/* -----x-----Blog Carousel-------x----------*/

/* ----------explroe-grid-----------------------------*/

main .explore-container{
    margin: 30px 80px;
    box-sizing: border-box;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(1, 355px);
    row-gap: 40px; 
    column-gap: 100px; 
}


main .explore-container .explore-grid-2{
    grid-column: span 3;
    grid-row: span 2;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    text-align: center;          
}

main .explore-container .explore-grid-1{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    box-sizing: border-box;

}



main .explore-grid-1  > img {
    width: 100%;
    height: 70%;
    object-fit:none;
    align-content: flex-start;
}


main .grid-title{
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: left;
    box-sizing: border-box;

}

main .grid-title h2{
    font-size: 1.2rem;
    margin: 1px 30px;
    height:30px;
    white-space: nowrap;

}

main .explore-grid-2 .description p{
    font-size: .7rem;
    margin: .5rem;
    text-align: left;
    width: 70%;
}

main .explore-grid-1 .description p{
    font-size: .7rem;
    margin: .5rem;
    text-align: left;
    width: 100%;
}



main .btn-grid{
    padding: .3rem 1.2rem;
    background: var(--rosegold);
    margin: .1rem;
    white-space: nowrap;
    height: 30px;
}
main .btn-grid{
    font-size: .8rem;
}


/* ---x-------explore grid---------------x--------------*/

/* ----------portfolio grid-----------------------------*/

main .porfolio-container{
    margin: 30px 100px;
    box-sizing: border-box;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 310px);
    row-gap: 40px; 
    column-gap: 40px; 
}

main .portfolio-grid-1{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    
    min-width: 100%;
}

main .Portolio-images > img{
    width: 100%;
    height: 270px;
    object-fit:scale-down;
    align-content: flex-start;
}



/* ---x-------portfolio---------------x--------------*/

/* ----------Resume-----------------------------*/

main .resume-site{
    margin: 0 20%;
}

/* ---x-------Resume---------------x--------------*/




/* ----------Site Contene-----------------*/

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;

}


/* -----x-----Site Contene-------x----------*/









/* -----x------Main Content--------x---------*/

/*         Viewport less than or equal to 1500px      */

@media only screen and (max-width: 1500px) {

    main .explore-container{
        margin: 30px 90px;
        grid-template-columns: repeat( 1, 1000px);
        grid-template-rows: repeat(1, 38rem);
        row-gap: 80px; 
        column-gap: 40px; 
    }
    
    
    main .explore-container .explore-grid-2{
        grid-column: span 1;
        grid-row: span 2;       
    }

    main .video-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }

    main .video-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%; 
    }

   main .resume-site{
       margin: 30px;
   }


}



/*    x     Viewport less than or equal to 1130px   x   */

/*         Viewport less than or equal to 1024px      */
@media only screen and (max-width: 1130px){
    main .site-title{
        background-size: 800px 800px ;
        background-repeat: no-repeat;
        justify-content: center;
        background-position: center;
        height: 700px;
        display: flex;
    }

    main .site-title .site-background{
        margin-top: 20vh;
    }

    main .explore-container{
        margin: 30px 90px;
        grid-template-columns: repeat( 1, 1fr);
        grid-template-rows: repeat(1, 38rem);
        row-gap: 80px; 
        column-gap: 40px; 
    }
    
    
    main .explore-container .explore-grid-2{
        grid-column: span 1;
        grid-row: span 2;       
    }


   
    main .video-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }

    main .video-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%; 
    }


    main .porfolio-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);; 
    }
    
    
    

    
}

/*      x   Viewport less than or equal to 1024px   x   */


/*         Viewport less than or equal to 750px      */

@media only screen and (max-width: 751px){
    .nav .nav-brand{
        padding-right: 100%;
    }

    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
        align-items:center;
        
        } 
    
    .nav .toggle-collapse{
        display: initial;
        
    }

    nav .toggle-collapse{
        width: 10% !important;    
    }
    
   

    main .site-title{
        background-size: 550px 550px;
        background-repeat: no-repeat;
        justify-content: center;
        background-position: center;
        height: 500px;
        
    }
    
    main .site-title .site-background{
        margin-top: 15vh;
        margin-left: 10vh;
    }

    

    main .explore-container{
        margin: 30px 20px;
        grid-template-columns: repeat( 1, 1fr);
        grid-template-rows: repeat(1, 25rem);
        row-gap: 40px; 
        column-gap: 40px; 
    }

    main .explore-container .explore-grid-2{
        grid-column: span 1;
        grid-row: span 1;         
    }

    main .explore-grid-2 .description p{
        font-size: .5rem;
        margin: .5rem;
        text-align: left;
        width: 95%;
    }

    main .explore-grid-1 .description p{
        font-size: .5rem;
        margin: .5rem;
        text-align: left;
        width: 95%;
    }

    main .porfolio-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    


}

/*      x   Viewport less than or equal to 750px    x  */



/*         Viewport less than or equal to 520px      */
@media only screen and (max-width:520px) {
    main .site-title{
        background-size: contain;
        height: 500px;
    }
    main .site-title .site-background{
        margin-top: 15vh;
        white-space: nowrap;
    }
    

    main .blog{
        height: 125vh;
    }


    nav .toggle-collapse{
        width: 10% !important;    
    }

    main .explore-container{
        margin: 30px 20px;
        grid-template-columns: repeat( 1, 1fr);
        grid-template-rows: repeat(1, 25rem);
        row-gap: 40px; 
        column-gap: 40px; 
    }

    main .explore-container .explore-grid-2{
        grid-column: span 1;
        grid-row: span 1;         
    }

    main .description p{
        font-size: .4rem;
        margin: .2rem;
        text-align: left;
        width: 99%;
        
    }



    main .porfolio-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }



    main .porfolio-container{
        margin: 30px 40px;
    }

}
/*    x     Viewport less than or equal to 520px  x    */